.card {
    min-width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    cursor: pointer;
  }

  mat-form-field {
    margin-right: 12px;
  }

  .mat-flat-button{
    position: relative;
    left: 92%;
    bottom: 95%;
    
  }

  
body{
	font-family: 'Roboto', sans-serif;

    margin:0px !important;

    overflow: hidden;
	background-image:url(https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8184.jpg?size=626&ext=jpg);
}

  
  mat-sidenav {
	width: 250px;
  }
  
  a {
	text-decoration: none;
	color: black;
  }
 
  
  a:hover,
  a:active {
	color: orangered;
  }
  
  .navigation-items {
	list-style: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
  }
  
  .icon {
	display: inline-block;
	height: 30px;
	margin: 0 auto;
	padding-right: 5px;
	text-align: center;
	vertical-align: middle;
	width: 15%;
  }
  
  .label {
	display: inline-block;
	line-height: 30px;
	margin: 0;
	width: 85%;
  }

  .logo {
    width: 275px;
    margin: auto
  }
  
  .logo img {
    width: 100%;
    height: 80px;
    /* object-fit: cover; */
    /* border-radius: 50%; */
    /* box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff */
  }
 