<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade">

    </div>

    <div class="button-row">
        <a mat-flat-button color="primary" routerLink="/admin"><mat-icon>list</mat-icon></a>

    </div>

    <mat-card class="example-card">
        <form [formGroup]="empForm" (ngSubmit)="update()">
            <mat-form-field>
                <input matInput placeholder="Enter Book Id" formControlName="id" [(ngModel)]="user.id">
               
                <mat-error>
                    <span *ngIf="!empForm.get('id')?.valid && empForm.get('id')?.touched">Book id Required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Enter Book Name" formControlName="BookName" [(ngModel)]="user.BookName">
               
                <mat-error>
                    <span *ngIf="!empForm.get('BookName')?.valid && empForm.get('BookName')?.touched">Name Required</span>
                </mat-error>
            </mat-form-field>

          
            <mat-form-field>
                <input matInput placeholder="Enter Author Name" formControlName="Author" [(ngModel)]="user.Author">
            
                <mat-error>
                    <span *ngIf="!empForm.get('Author')?.valid && empForm.get('Author')?.touched">Department Required</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="date"  formControlName="Date" [(ngModel)]="user.Date">
                <mat-error>
                    <span *ngIf="!empForm.get('Date')?.valid && empForm.get('Date')?.touched">Department Required</span>
                </mat-error>
              </mat-form-field>
          

            
            <div class="button-row">
                <button mat-flat-button color="primary" type="submit" [disabled]="!empForm.valid"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </mat-card>
    </div>
